<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ems.lifetracker"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.ems.lifetracker.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ems.lifetracker.TrackMainFragment"
            android:label="@string/title_activity_track" >
        </activity>
        <activity
            android:name="com.ems.lifetracker.MetricsMainFragment"
            android:label="@string/title_activity_metrics" >
        </activity>
        <activity
            android:name="com.ems.lifetracker.HistoryMainFragment"
            android:label="@string/title_activity_history" >
        </activity>
        <activity
            android:name="com.ems.lifetracker.MetricsActivity"
            android:label="@string/title_activity_metrics" >
        </activity>
        <activity
            android:name="com.ems.lifetracker.MetricsNewFragment"
            android:label="@string/title_activity_metrics_new_fragment" >
        </activity>
        <activity
            android:name="com.ems.lifetracker.TestActivity"
            android:label="@string/title_activity_test" >
        </activity>
    </application>

</manifest>
